<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间的值要与映射的java文件包名+类名(去掉.java后缀)相同 -->
<mapper namespace="com.tina.dao.PermissionMapper">
	<resultMap id="BaseResultMap" type="com.tina.entity.Permission">
		<id column="perid" jdbcType="INTEGER" property="perid" />
		<result column="pername" jdbcType="VARCHAR" property="pername" />
		<result column="isParent" jdbcType="INTEGER" property="isParent" />
		<result column="parentid" jdbcType="INTEGER" property="parentid" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="ajaxPath" jdbcType="VARCHAR" property="ajaxPath" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		perid, pername, isParent, parentid, url, ajaxPath
	</sql>
	<select id="selectByExample" parameterType="com.tina.entity.PermissionExample" resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from permission
		where perid = #{perid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="Integer">
		delete from permission
		where perid = #{perid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.tina.entity.PermissionExample">
		delete from permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.tina.entity.Permission">
		<selectKey keyProperty="perid" order="AFTER" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into permission (pername, isParent, parentid,
		url)
		values (#{pername,jdbcType=VARCHAR}, #{isParent,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER},
		#{url,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.tina.entity.Permission">
		<selectKey keyProperty="perid" order="AFTER" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pername != null">
				pername,
			</if>
			isParent,
			<if test="parentid != null">
				parentid,
			</if>
			<if test="url != null">
				url,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pername != null">
				#{pername,jdbcType=VARCHAR},
			</if>
			#{isParent,jdbcType=INTEGER},
			<if test="parentid != null">
				#{parentid,jdbcType=INTEGER},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.tina.entity.PermissionExample" resultType="java.lang.Long">
		select count(*) from permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update permission
		<set>
			<if test="record.perid != null">
				perid = #{record.perid,jdbcType=INTEGER},
			</if>
			<if test="record.pername != null">
				pername = #{record.pername,jdbcType=VARCHAR},
			</if>
			<if test="record.isParent != null">
				isParent = #{record.isParent,jdbcType=INTEGER},
			</if>
			<if test="record.parentid != null">
				parentid = #{record.parentid,jdbcType=INTEGER},
			</if>
			<if test="record.url != null">
				url = #{record.url,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update permission
		set perid = #{record.perid,jdbcType=INTEGER},
		pername = #{record.pername,jdbcType=VARCHAR},
		isParent = #{record.isParent,jdbcType=INTEGER},
		parentid = #{record.parentid,jdbcType=INTEGER},
		url = #{record.url,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.tina.entity.Permission">
		update permission
		<set>
			<if test="pername != null">
				pername = #{pername,jdbcType=VARCHAR},
			</if>
			<if test="isParent != null">
				isParent = #{isParent,jdbcType=INTEGER},
			</if>
			<if test="parentid != null">
				parentid = #{parentid,jdbcType=INTEGER},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="ajaxPath != null">
				ajaxPath = #{ajaxPath,jdbcType=VARCHAR},
			</if>
		</set>
		where perid = #{perid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tina.entity.Permission">
		update permission
		set pername = #{pername,jdbcType=VARCHAR},
		isParent = #{isParent,jdbcType=INTEGER},
		parentid = #{parentid,jdbcType=INTEGER},
		url = #{url,jdbcType=VARCHAR}
		where perid =
		#{perid,jdbcType=INTEGER}
	</update>
	<select id="selectByPage" parameterType="map" resultMap="BaseResultMap">
		SELECT * FROM permission
		<where>
			<if test="key != null or key != ''">
				AND pername LIKE '%${key}%'
			</if>
		</where>
		ORDER BY perid ASC LIMIT #{start}, #{length}
	</select>
	<delete id="deleteByUniqueKey" parameterType="string">
		DELETE FROM permission WHERE pername = #{_parameter}
	</delete>
	<delete id="deleteBatch" parameterType="list">
		DELETE FROM permission WHERE perid IN
		<foreach item="item" collection="list" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="selectByUniqueKey" resultMap="BaseResultMap">
		SELECT * FROM permission WHERE pername = #{_parameter}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT * FROM permission
	</select>
	<select id="selectChildrenByParentid" parameterType="int" resultType="int">
		SELECT COUNT(perid) FROM permission WHERE parentid = #{_parameter}
	</select>
	<select id="selectPermissionByRoleId" parameterType="int" resultMap="BaseResultMap">
		SELECT * FROM permission
		WHERE perid IN (SELECT perid FROM rolepermission WHERE roleId = #{_parameter})
	</select>
	<select id="selectPerURLByPerid" parameterType="int" resultType="string">
		SELECT ajaxPath FROM permission WHERE perid = #{_parameter}
	</select>
</mapper>